@charset "UTF-8";
/* Reset and base styles  */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Raleway:wght@400;700&family=Roboto:wght@300&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Links */
a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

body {
  font-family: "Raleway", sans-serif;
  background-color: #242b33;
  color: #fff;
  font-size: 16px;
}

a {
  color: #fff;
  -webkit-transition: color 0.2s ease-in;
  transition: color 0.2s ease-in;
}
a:hover {
  color: #d4c17f;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1140px;
}
.container--sm {
  max-width: 824px;
}

.visuality-hidden {
  height: 1px;
  width: 1px;
  overflow: hidden;
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  white-space: nowrap;
}

.title_two {
  color: #d4c17f;
  font-family: "Playfair Display", serif;
  font-size: 36px;
  font-weight: 700;
}

.none {
  display: none;
}

.no-scroll {
  overflow-y: hidden;
}

.header {
  padding-top: 30px;
  padding-bottom: 74px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(11.98%, #242b33), color-stop(51.04%, rgba(45, 52, 60, 0.38)), color-stop(92.19%, #242b33)), url("./../../img/header/header-bg.jpg");
  background: linear-gradient(180deg, #242b33 11.98%, rgba(45, 52, 60, 0.38) 51.04%, #242b33 92.19%), url("./../../img/header/header-bg.jpg");
}

.header__block {
  min-height: 840px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (max-width: 950px) {
  .header__block {
    min-height: unset;
    row-gap: 50px;
  }
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__top--mobile {
  position: fixed;
  z-index: 99;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #242b33;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 60px;
  padding: 40px 0;
}
.header__top--mobile .header__top_nav {
  display: block;
}
.header__top--mobile .nav__list {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 30px;
}
.header__top--mobile .header__top-btn {
  position: fixed;
  top: 50px;
  right: 15px;
}

@media screen and (max-width: 950px) {
  .header__top_nav {
    display: none;
  }
}

.header__top-btn {
  display: none;
}
@media screen and (max-width: 950px) {
  .header__top-btn {
    display: block;
  }
}

.header__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__title__mouse {
  max-height: 40px;
}

.header_title_main {
  color: #d4c17f;
  font-family: "Playfair Display", serif;
  font-size: 48px;
  font-weight: 700;
  text-align: center;
  padding-bottom: 81px;
}
@media screen and (max-width: 950px) {
  .header_title_main {
    font-size: 32px;
    padding-bottom: 60px;
  }
}

.header__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 74px;
  font-size: 18px;
}
@media screen and (max-width: 950px) {
  .header__footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 30px;
    font-size: 14px;
  }
}

.header__footer_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 65px;
}
.header__footer_box .header__footer_text {
  margin-left: 14px;
}

.nav {
  font-size: 14px;
  letter-spacing: 0.7px;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
}

/* Nav Icon */
.nav-icon-btn {
  --time: 0.1s;
  --width: 40px;
  --height: 30px;
  --line-height: 1px;
  --line-margin: 2;
  --color: #fff;
  height: var(--height);
  width: var(--width);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-icon {
  position: relative;
  width: var(--width);
  height: var(--line-height);
  background-color: var(--color);
}

.nav-icon::before,
.nav-icon::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: var(--width);
  height: var(--line-height);
  background-color: var(--color);
  -webkit-transition: top var(--time) linear var(--time), -webkit-transform var(--time) ease-in;
  transition: top var(--time) linear var(--time), -webkit-transform var(--time) ease-in;
  transition: transform var(--time) ease-in, top var(--time) linear var(--time);
  transition: transform var(--time) ease-in, top var(--time) linear var(--time), -webkit-transform var(--time) ease-in;
}

.nav-icon::before {
  top: calc(var(--line-height) * -8);
}

.nav-icon::after {
  top: calc(var(--line-height) * 8);
}

.nav-icon.nav-icon--active {
  background-color: transparent;
}

.nav-icon.nav-icon--active::before,
.nav-icon.nav-icon--active::after {
  top: 0;
  -webkit-transition: top var(--time) linear, -webkit-transform var(--time) ease-in var(--time);
  transition: top var(--time) linear, -webkit-transform var(--time) ease-in var(--time);
  transition: top var(--time) linear, transform var(--time) ease-in var(--time);
  transition: top var(--time) linear, transform var(--time) ease-in var(--time), -webkit-transform var(--time) ease-in var(--time);
}

.nav-icon.nav-icon--active::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.nav-icon.nav-icon--active::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.benifits {
  padding: 120px 0;
  position: relative;
  overflow: hidden;
}
.benifits::after {
  content: "II";
  left: calc(50% + 555px);
  -webkit-transform: translate(2%, 0);
          transform: translate(2%, 0);
  position: absolute;
  top: 0;
  line-height: 1.15;
  opacity: 0.02;
  font-size: 400px;
  text-align: center;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  z-index: 2;
}
@media screen and (max-width: 950px) {
  .benifits {
    padding: 60px 0;
  }
}

.benifits__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 70px;
     -moz-column-gap: 70px;
          column-gap: 70px;
}
@media screen and (max-width: 950px) {
  .benifits__row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    gap: 40px 30px;
  }
}

.benifits__item {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 27px; /* 135% */
}
@media screen and (max-width: 950px) {
  .benifits__item .benifits__item {
    width: 60px;
    height: 60px;
    font-size: 15px;
    line-height: 27px;
  }
}

.benifits__item-img {
  margin-bottom: 53px;
}

.appartems__title {
  margin-bottom: 88px;
}
@media screen and (max-width: 950px) {
  .appartems__title {
    margin-bottom: 44px;
  }
}

.appartems__cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  position: relative;
}
.appartems__cards::after {
  content: "III";
  right: 50%;
  -webkit-transform: translate(-73%, -36%);
          transform: translate(-73%, -36%);
  position: absolute;
  top: 0;
  line-height: 1.15;
  opacity: 0.02;
  font-size: 400px;
  text-align: center;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  z-index: 2;
}
@media screen and (max-width: 950px) {
  .appartems__cards {
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  }
}

.cards {
  overflow: hidden;
  position: relative;
  display: inline-block;
}
.cards::before {
  content: "";
  position: absolute;
  z-index: 6;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(36, 43, 51, 0)), to(#242b33));
  background: linear-gradient(180deg, rgba(36, 43, 51, 0) 0%, #242b33 100%);
}
.cards::after {
  opacity: 0;
  content: "";
  position: absolute;
  z-index: 7;
  left: 15px;
  top: 15px;
  right: 15px;
  bottom: 15px;
  border: 3px double rgba(255, 255, 255, 0.4);
  -webkit-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
}
.cards:hover::after {
  opacity: 1;
}

.cards_img {
  z-index: 5;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.cards:hover .cards_img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-filter: contrast(110%) brightness(1.2) saturate(1.2);
          filter: contrast(110%) brightness(1.2) saturate(1.2);
}

.cards__text {
  position: absolute;
  left: 50px;
  right: 20px;
  bottom: 44px;
  font-size: 24px;
  color: #fff;
  z-index: 9;
}
@media screen and (max-width: 950px) {
  .cards__text {
    font-size: 16px;
    bottom: 30px;
  }
}

.cta {
  padding: 180px 0;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(10.42%, #242b33), color-stop(50.52%, rgba(36, 43, 51, 0)), color-stop(90.1%, #242b33)), url("./../img/sta/sta-bg.jpg"), #c4c4c4;
  background: linear-gradient(180deg, #242b33 10.42%, rgba(36, 43, 51, 0) 50.52%, #242b33 90.1%), url("./../img/sta/sta-bg.jpg"), #c4c4c4;
}
@media screen and (max-width: 950px) {
  .cta {
    padding: 90px 0;
  }
}

.cta__title {
  margin-bottom: 17px;
}

.cta__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}
@media screen and (max-width: 950px) {
  .cta__wrapper {
    grid-template-columns: 1fr;
  }
}

.cta__text {
  line-height: 1.5;
}
.cta__text p + p {
  margin-top: 1em;
}
@media screen and (max-width: 950px) {
  .cta__text {
    font-size: 13px;
  }
}

.cta__form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 35px 30px;
}
@media screen and (max-width: 950px) {
  .cta__form {
    grid-template-columns: 1fr;
  }
}

.form__input {
  height: 50px;
  text-align: center;
  padding: 12px;
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
  -webkit-transition: background-color 0.2s ease-in;
  transition: background-color 0.2s ease-in;
}
.form__input::-webkit-input-placeholder {
  color: #bebebe;
  font-size: 14px;
  line-height: 27px;
}
.form__input::-moz-placeholder {
  color: #bebebe;
  font-size: 14px;
  line-height: 27px;
}
.form__input:-ms-input-placeholder {
  color: #bebebe;
  font-size: 14px;
  line-height: 27px;
}
.form__input::-ms-input-placeholder {
  color: #bebebe;
  font-size: 14px;
  line-height: 27px;
}
.form__input::placeholder {
  color: #bebebe;
  font-size: 14px;
  line-height: 27px;
}
.form__input:focus {
  background-color: rgba(255, 255, 255, 0.25);
}

.form__privacy {
  color: #e7e7e7;
  text-align: center;
  font-size: 13px;
  line-height: 16px;
}
@media screen and (max-width: 950px) {
  .form__privacy--bottom {
    grid-row: 4/5;
    text-align: center;
  }
}

.form__btn {
  height: 50px;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  background-color: #d4c17f;
  padding: 12px;
  color: #fff;
  -webkit-transition: background-color 0.2s ease-in;
  transition: background-color 0.2s ease-in;
}
.form__btn:hover {
  background-color: #ddc676;
}

.video {
  overflow: hidden;
  text-align: center;
  position: relative;
  z-index: 2;
}
.video::after {
  content: "IV";
  left: calc(50% + 555px);
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  position: absolute;
  top: 0;
  line-height: 1.15;
  opacity: 0.02;
  font-size: 400px;
  text-align: center;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  z-index: 2;
}

.video__link {
  position: relative;
  display: inline-block;
  text-align: center;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  z-index: 9;
}
.video__link::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(36, 43, 51, 0.3);
}
.video__link:hover::before {
  background: rgba(36, 43, 51, 0.1);
}

.video__link:hover .video__icon {
  -webkit-transform: translate(-50%, -50%) scale(1.2);
          transform: translate(-50%, -50%) scale(1.2);
  -webkit-filter: saturate(1.5);
          filter: saturate(1.5);
}

.video__icon {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
@media screen and (max-width: 950px) {
  .video__icon {
    width: 80px;
    height: 80px;
  }
}

.section-map {
  padding: 180px 0;
  position: relative;
}
.section-map::after {
  content: "V";
  left: calc(50% - 555px);
  -webkit-transform: translate(-55%, 32%);
          transform: translate(-55%, 32%);
  position: absolute;
  top: 0;
  line-height: 1.15;
  opacity: 0.02;
  font-size: 400px;
  text-align: center;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  z-index: 2;
}
@media screen and (max-width: 950px) {
  .section-map {
    padding: 90px 0;
  }
}

.section-map_title {
  margin-bottom: 88px;
}
@media screen and (max-width: 950px) {
  .section-map_title {
    margin-bottom: 44px;
  }
}

.section-map__map {
  position: relative;
}

.map {
  position: relative;
  height: 358px;
  background-color: #626262;
  z-index: 9;
}

[class*=copyrights-pane] {
  /* display: none !important; */
  opacity: 0;
  -webkit-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
}

.map:hover [class*=copyrights-pane] {
  opacity: 1;
}

/* Создать свою карту */
[class*=gototech] {
  display: none !important;
}

[class*=ground-pane] {
  -webkit-filter: grayscale(1) sepia(10%);
          filter: grayscale(1) sepia(10%);
}

/* Baloon */
[class*=balloon__layout],
[class*=balloon__content] {
  background-color: #242b33 !important;
  color: #fff !important;
}

[class*=balloon__tail]::after {
  background-color: #242b33 !important;
}

[class*=balloon_layout_panel] {
  background-color: #242b33 !important;
}

[class*=balloon__layout],
[class*=balloon__content] a {
  color: #d4c17f !important;
}

[class*=balloon__close-button] {
  background: url("./../img/map/cross.svg") 50% no-repeat !important;
  width: 15px !important;
  height: 15px !important;
  margin: 10px 7px;
}

.feedback {
  padding-bottom: 180px;
}
@media screen and (max-width: 950px) {
  .feedback {
    padding-bottom: 90px;
  }
}

.feedback__title {
  padding-bottom: 38px;
}
@media screen and (max-width: 950px) {
  .feedback__title {
    padding-bottom: 25px;
  }
}

.feedback__form {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 950px) {
  .feedback__form {
    grid-template-columns: repeat(1, 1fr);
  }
}

.footer {
  background-color: #2d343c;
  padding-top: 72px;
  padding-bottom: 51px;
  font-size: 14px;
  letter-spacing: 0.7px;
  font-weight: 400;
}
@media screen and (max-width: 950px) {
  .footer {
    padding-top: 45px;
    padding-bottom: 25px;
  }
}

.footer__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}
@media screen and (max-width: 950px) {
  .footer__grid {
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    gap: 50px 30px;
  }
}

.footer__logo {
  margin-top: -12px;
}

.footer_nav_list_item {
  color: #d4c17f;
  font-weight: 700;
}

.footer-nav__list {
  display: grid;
  gap: 15px;
}

.footer-socials {
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 22px;
     -moz-column-gap: 22px;
          column-gap: 22px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}